################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simd.3.1.41.723.zip
/simd
/CImg_latest.zip
/CImg-1.7.2_pre052316
/773-A4.VC.VC.opendb
/FreeImage
/FreeImage3170Win32Win64.zip
/x64/Release/righty.jpg
/x64/Release/out2.jpg
/x64/Release/out.jpg
/x64/Release/lefty.jpg
/x64/Release/FreeImagePlus.dll
/x64/Release/FreeImage.dll
/x64/Release/3D_R0091.JPG
/x64/Release/3D_L0189.JPG
/x64/Release/documents-export-2016-05-27.zip
