################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simd.3.1.41.723.zip
/simd
/CImg_latest.zip
/CImg-1.7.2_pre052316
/773-A4.VC.VC.opendb
/FreeImage
/FreeImage3170Win32Win64.zip
/x64
/ipch
/lapack_win64_MT.lib
/lapack_win64_MT.dll
/blas_win64_MT.lib
/blas_win64_MT.dll
/lapack_win64_MT.lib
/lapack_win64_MT.dll
/blas_win64_MT.lib
/blas_win64_MT.dll
/773-A4/Debug
/773-A4/x64/Debug/773-A4-Disp.tlog
/773-A4/x64/Release/773-A4-Disp.tlog
/773-A4/Debug
/Thumbs.db
/ConsoleApplication1/x64/Release/773-A4-Rect.tlog
/773-A4/Debug
/773-A4/lapack_win64_MT.lib
/773-A4/lapack_win64_MT.dll
/773-A4/CalibrationParameters.csv
/773-A4/blas_win64_MT.lib
/773-A4/blas_win64_MT.dll
/773-A4/3D_R0091.JPG
/773-A4/3D_L0189.JPG
/ConsoleApplication1/x64
/ConsoleApplication1/CalibrationParameters.csv
/ConsoleApplication1/3D_R0091.JPG
/ConsoleApplication1/3D_L0189.JPG
/ConsoleApplication1/Thumbs.db
/773-A4/x64/Debug/CalibrationParameters.csv
/773-A4/x64/Debug/773-A4-Disp.pch
/773-A4/x64/Debug/3D_R0091.JPG
/773-A4/x64/Debug/3D_L0189.JPG
/773-A4/x64/Debug/Thumbs.db
/773-A4/x64/Release/773-A4-Disp.pch
/ConsoleApplication1/outputundistortimageright.jpg
/ConsoleApplication1/outputundistortimageleft.jpg
/ConsoleApplication1/outputrectifyimageright.jpg
/ConsoleApplication1/outputrectifyimageleft.jpg
/ConsoleApplication1/im6.png
/ConsoleApplication1/im2.png
