################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/simd.3.1.41.723.zip
/simd
/CImg_latest.zip
/CImg-1.7.2_pre052316
/773-A4.VC.VC.opendb
/FreeImage
/FreeImage3170Win32Win64.zip
